<div class="col-lg-8 col-lg-offset-2" [@fadeIn]>
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Page Home</p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" [routerLink] ="['/animales']">
                Show Animals
            </a>
            <a class="btn btn-success btn-lg" role="button" [routerLink] ="['/cuidadores']">
                Show Keepers
            </a>
            <a class="btn btn-warning btn-lg" role="button" [routerLink] ="['/tienda']">
                Show Shop
            </a>
            <a class="btn  btn-info btn-lg" role="button" [routerLink] ="['/tienda']">
              Contact Us
            </a>
        </p>
    </div>
</div>
